.head{
	height: 30%;
	width: 100%;
	background-color: blue;
	color : white;
	font-size: 50;
	font-weight: 10;
}
.admin_head{
    height: 30%;
    width: 100%;
    background-color: orange;
    color : white;
    font-size: 50;
    font-weight: 10;
}
h1{
	font-size: large;
	color: Black;
	font-style: cursive;
}
.mydanger{
	color: red;
    }
body{
   background-color: yellow;
}
.mysuccess{
	color:white;
	background-color: green;
}
button{
	border-radius: 25px;
}
table{
	background-color: white;
}


.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.myfooter{
    width: 100%;
    background-color: gray;
    color : white;
    font-size: 50;
    font-weight: 10;
    padding-bottom: 100px;
}
.admin_myfooter{
    padding-bottom: 100px;
    width: 100%;
    background-color: green;
    color : white;
    font-size: 50;
    font-weight: 10;
}
